DJANGO_SECRET_KEY=<secret_key>

DATABASE_URL=<db_url>
DB_USER=<db_user>
DB_PASSWORD=<db_password>
DB_NAME="knitter"

ADMIN_USER=<admin_email>
ADMIN_PASSWORD=<admin_password>

DJANGO_CONFIGURATION="Development"